{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_list' %}">Список статьей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Список пользователей</a>
        </li>
{% endblock %}
{% block content %}
    {% for article in article_list %}
      <div class="mb-4 mt-4">
        <h4><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h4>
        <h6>Автор: {{ article.author.name }}</h6>
      </div>
    {% endfor %}
{% endblock %}