{% extends 'base.html' %}
{% block title %}Статья{% endblock %}
{% block menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_list' %}">Список статьей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Список пользователей</a>
        </li>
{% endblock %}
{% block content %}
        <h1>{{ article.title }}</h1>
        <h4>Описание:</h4>
        <span>{{ article.text }}</span>
        <h3>Автор: {{ article.author.name }}</h3>
        <h5>Комментарии:</h5>
            {% for comment in article.comment.all %}
                <h5><i>{{ comment.user.name }}: </i></h5> <p>{{ comment.text }}</p>
            {% endfor %}
        <h5>Оценки:</h5>
            {% for rating in article.rating.all %}
                <p>{{ rating.rating }} - <i>{{ rating.user.name }}</i></p>
            {% endfor %}
{% endblock %}