{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_list' %}">Список статьей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Список пользователей</a>
        </li>
{% endblock %}
{% block content %}
        <h1>{{ user.name }}</h1>
    <p><i>Список статьей:</i></p>
            {% for article in user.articles.all %}
                <h5>{{ article.title }}</h5>
            {% endfor %}
    <p><i>Список избранных:</i></p>
            {% for favorites in user.favorites.all %}
                <h6>{{ favorites.title }}</h6>
            {% endfor %}
{% endblock %}