{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'article_list' %}">Список статьей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Список пользователей</a>
        </li>
{% endblock %}
{% block content %}
    {% for user in user_list %}
        <h4><a href="{% url 'user_detail' user.pk %}">{{ user.name }}</a></h4>
    {% endfor %}
{% endblock %}